*{
    font-family: 'Quicksand', sans-serif;
}

 #bg-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
  }

  #bg-login .login-container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
  }

  #bg-login .logo img {
        width: 300px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    min-width: 100%;
    max-width: 100%;
  }

  .form-group input {
    box-sizing: border-box;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group .text-input {
    display: flex;
    align-items: center;
  }
  
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #FFB356;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #D88A2B;
  }